networks:
  default:
    external: true
    name: docker
services:
  service:
    image: gcr.io/cadvisor/cadvisor
    labels:
      caddy: ${service.service}.${server.fqdn_internal}
      caddy.basic_auth.${server.secret_hash}: ${service.secret_hash_bcrypt}
      caddy.import: internal
      caddy.reverse_proxy: "{{upstreams 8080}}"
    privileged: true
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /sys:/sys:ro
      - ${contains(server.flags, "truenas") ? "/mnt/.ix-apps/docker" : "/var/lib/docker"}:/var/lib/docker:ro
      - /var/run:/var/run:ro
