%{ for server, bookmarks in bookmarks ~}
%{ if length(bookmarks) > 0 ~}
- ${server}:
%{ for bookmark, variables in bookmarks ~}
  - ${bookmark}:
    - href: ${variables.href}
      icon: ${variables.icon}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
