%{ for server, services in services ~}
%{ if length(services) > 0 ~}
- ${server}:
%{ for service, variables in services ~}
  - ${service}:
      ${jsonencode(variables)}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
