%{ for server in servers ~}
%{ if contains(server.flags, "docker") ~}
- glances:
    label: ${server.description} (${servers[server.location].description})
    uptime: true
    url: ${contains(server.flags, "caddy") ? "https://glances.${server.fqdn_internal}" : "http://${server.fqdn_internal}:61208"}
    version: 4
%{ endif ~}
%{ endfor ~}
