%{ for server in servers ~}
%{ if contains(server.flags, "docker") ~}
- glances:
    label: ${server.description} (${servers[server.location].description})
    uptime: true
    url: http://${server.fqdn_internal}:61208
    version: 4
%{ endif ~}
%{ endfor ~}
